<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AlphaBlendingTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>DepthBufferTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>FontRenderingTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>MultipleCocoaViewsTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>PickingTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Scale9SpriteTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>ScrollViewTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>StencilTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>TableViewTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>TextureCacheTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>ViewTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D21F88801533064A00E2496C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D22F25581587D53B0049268C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D253D9BE15663DE20027DA6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2735B42159126E200216F1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2850482158B204E00CD71ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2ADCFC5157EB34A00B6E519</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2EDC3401572BB8900EBB417</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2F34FBD151F098A00DF2D5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2F3500A15285D8500DF2D5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2F350851511623500A56B8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2FD860514F0E5EE006A9A90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2FEE8231539D762004CFF62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
